<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhao.doraadmin.dao.UserMapper" >
	<resultMap type="com.zhao.dorambg.entity.User" id="BaseRM" extends="com.zhao.dorambg.dao.BaseUserMapper.BaseRM">

	</resultMap>

	<sql id="PageConditionSql">
		and 1=1
	</sql>

	<select id="selectByName" resultMap="BaseRM">
		select
			<include refid="com.zhao.dorambg.dao.BaseUserMapper.BaseSelectColumn"></include>
		<include refid="com.zhao.dorambg.dao.BaseUserMapper.LinkedSql"></include>
		where self.name like concat('%', #{name}, '%')
	</select>

</mapper>